.store-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(to right bottom, #000000, #15010a, #1f0315, #26041f, #2c052b, #38093c, #420e4f, #4b1664, #622281, #7a2ea0, #933bc0, #ad49e1);
    color: white;
}

.store-container {
    padding: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.store-title {
    font-size: 1.8rem;
    font-weight: bold;
    color: #ad49e1;
    margin-bottom: 20px;
    text-align: center;
}

.store-items-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center; /* Centra las cards */
}

.store-item-card {
    flex: 0 0 auto;
    width: 200px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 15px;
    text-align: center;
}

.no-items {
    text-align: center;
    font-size: 1.2rem;
    color: #ffffff;
}

.go-home-button {
    display: block;
    margin: 20px auto;
    background-color: #ad49e1;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
}

.go-home-button:hover {
    background-color: #933bc0;
}