.challenge-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 1.5rem;
    margin: 1rem;
    max-width: 300px;
    text-align: center;
    transition: transform 0.2s;
}

.challenge-card:hover {
    transform: scale(1.05);
}

.challenge-title {
    color: #2E073F;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.challenge-info p {
    margin: 0.5rem 0;
    font-size: 1rem;
    color: #622281;
}

.challenge-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.challenge-complete-button {
    background-color: #622281;
    color: white;
    font-size: 1rem;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.challenge-complete-button:hover {
    background-color: #933bc0;
}

.challenge-delete-button {
    background-color: #c0392b;
    color: white;
    font-size: 1rem;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.challenge-delete-button:hover {
    background-color: #e74c3c;
}